h1 {color: darkorange; background-color: darkblue; text-align: center; height: 100px; padding: 50px; font-size: 60px;
box-shadow: inset 0px 0px 20px 10px darkorange; border-radius: 100px;}

body{
    background: radial-gradient(darkblue, grey, white);
}

nav{background-color: darkorange; text-align: center; 
border-radius: 100px;

}

aside{
    float: left;
    display: inline;
}


.navbutton{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
section{   
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}
form{
    
    background-color: darkorange;
    box-shadow: inset 0 0 20px 10px darkblue;
    display: inline-block;
    text-align: center;
    padding: 50px;
    align-content: center;
}

